$fhkieliue: #E30015;

$fhkiel: #002D5C;
$fhkiel: #133A69;
$fhkiel: #2D4977;
$fhkiel: #455A85;
$fhkiel: #5B6D95;
$fhkiel: #7382A5;
$fhkiel: #8E98B7;
$fhkiel: #A8AFC8;
$fhkiel: #C3C8DA;
$fhkiel: #E0E2EC;

$fhkielfont: Verdana, sans-serif;
