$fhkieliue: #E30015;

$fhkiel: #002D5C;
$fhkiel1: #133A69;
$fhkiel2: #2D4977;
$fhkiel3: #455A85;
$fhkiel4: #5B6D95;
$fhkiel5: #7382A5;
$fhkiel6: #8E98B7;
$fhkiel7: #A8AFC8;
$fhkiel8: #C3C8DA;
$fhkiel9: #E0E2EC;

$fhkielfont: Verdana, sans-serif;
